<nav id="navbar" class="fixed w-full text-white backdrop-blur-lg z-10">
  <div class="navbar container mx-auto">
    <div class="navbar-start">
      <a routerLink="/">Ben Kuhman</a>
    </div>
    <div class="navbar-center">
      <ul class="menu menu-horizontal">
        <li><a routerLink="/">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="navbar-end flex items-center">
      <fa-icon [icon]="faSun"></fa-icon>
      <input type="checkbox" [checked]="isDarkMode" (change)="toggleDarkMode()" class="toggle bg-white mx-4" />
      <fa-icon [icon]="faMoon"></fa-icon>
    </div>
  </div>
</nav>
