<app-navbar></app-navbar>
<div id="hero" class="text-end py-5 position-relative text-bg-dark">
    <div id="navbar-spacer" style="height: 61px"></div>
    <div class="container py-5">
        <div class="row text-center text-md-end d-flex justify-content-center">
            <div class="col-9 col-md-4">
                <img src="assets/images/hero-image.png" class="img-fluid" alt="Ben Kuhman" />
            </div>
            <div class="col-md-5 offset-md-1">
                <h1 class="rfs-h1 pt-5 mt-5 mb-4">Full Stack Developer</h1>
                <p class="lead">I specialize in building web applications with a focus on user experience and performance.</p>
                <p class="lead pb-5 mb-5">Learn about Full-Stack</p>
                <button class="btn btn-primary rounded-pill px-4">
                    View Portfolio 
                    <fa-icon [icon]="faArrowRight" class="ms-2"></fa-icon>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="container py-5 overflow-hidden" style="height: 500px;">
    <div class="row py-5">
        <div class="col-6">
            <h2 class="rfs-h2">Mobile Friendly Designs</h2>
            <p class="lead">I create responsive and user-friendly designs that look great on all devices.</p>
            <p class="mb-0">Including mobile phones and tablets. With a focus on mobile-first development, I ensure that your website or application is optimized for a seamless mobile experience. Whether it's a simple and intuitive interface or a visually appealing design, I prioritize mobile responsiveness to enhance user engagement and satisfaction.</p>
        </div>
        <div class="col-4 offset-1 position-relative">
            <img src="assets/images/phone-website.png" class="img-fluid position-absolute" alt="Phone displaying a website" />
        </div>
    </div>
</div>
<div class="container-fluid bg-dark">
    <div class="row py-5">

    </div>
</div>