<app-navbar></app-navbar>
<main id="main-container" class="py-10 px-20">
  <section
    class="hero min-h-screen"
    style="background-image: url('/assets/images/abstract-background.jpg');">
    <div class="hero-overlay"></div>
    <div class="hero-content text-neutral-content text-center relative">
      <div class="max-w-screen-lg">
        <img src="/assets/images/ben-kuhman-portrait.jpg" alt="Ben Kuhman" class="rounded-full w-48 h-48 mx-auto mb-5 shadow-lg shadow-black/50">
        <h1 class="mb-5 text-5xl font-bold tracking-wide">Full Stack Developer.</h1>
        <p class="mb-5 text-gray-200">
          Bringing views to your business one line of code at a time. I am a full stack web developer with a passion for creating beautiful and functional websites. I specialize in front-end development, but I also have experience with back-end development and database management.
        </p>
        <div>
          <a href="#" pButton class="p-button-rounded mx-2 hover:scale-105 transition-all duration-300">
            Get In Touch
            <span class="pi pi-send ms-4"></span>
          </a>
          <a href="#" pButton [text]="true" [raised]="true" severity="secondary" class="p-button-rounded mx-2 hover:scale-105 transition-all duration-300">
            View My Work
            <span class="pi pi-eye ms-4"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="absolute bottom-8 animate-bounce">
      <i class="pi pi-angle-down text-white text-2xl"></i>
    </div>
  </section>
  <section class="w-full bg-base-100 p-10 text-center overflow-hidden py-28">
    <p class="text-lg">Proficient with multiple languages and frameworks including...</p>
    <h1 id="typeit-element" class="text-5xl font-bold tracking-wide text-center my-10"></h1>
<!--    Scrolling logo strip -->
    <div class="flex justify-center mt-20 relative w-full h-32">
      <div [ngClass]="{ 'dark': isDarkMode }" class="scroll-carousel absolute h-full w-max flex left-0">
        <ng-container *ngFor="let i of [1, 2]">
          <img src="/assets/images/tech-logos/angular.svg" [ngClass]="{ 'active-logo': activeLogo == 'angular'}" class="h-full inline-block me-16" />
          <img src="/assets/images/tech-logos/css.svg" [ngClass]="{ 'active-logo': activeLogo == 'css'}" class="h-full inline-block me-16" />
          <img src="/assets/images/tech-logos/net.svg" [ngClass]="{ 'active-logo': activeLogo == 'net'}" class="h-full inline-block me-16" />
          <img src="/assets/images/tech-logos/html.svg" [ngClass]="{ 'active-logo': activeLogo == 'html'}" class="h-full inline-block me-16" />
          <img src="/assets/images/tech-logos/javascript.svg" [ngClass]="{ 'active-logo': activeLogo == 'javascript'}" class="h-full inline-block me-16" />
          <img src="/assets/images/tech-logos/mysql.svg" [ngClass]="{ 'active-logo': activeLogo == 'mysql'}" class="h-full inline-block me-16" />
          <img src="/assets/images/tech-logos/primeng.svg" [ngClass]="{ 'active-logo': activeLogo == 'primeng'}" class="h-full inline-block me-16" />
          <img src="/assets/images/tech-logos/tailwindcss.svg" [ngClass]="{ 'active-logo': activeLogo == 'tailwindcss'}" class="h-full inline-block me-16" />
          <img src="/assets/images/tech-logos/typescript.svg" [ngClass]="{ 'active-logo': activeLogo == 'typescript'}" class="h-full inline-block me-16" />
        </ng-container>
      </div>
    </div>
  </section>
</main>
