<div class="min-h-screen pt-24 flex flex-col">
  <div class="grow w-full max-w-3xl mx-auto px-4">
    <h1 class="text-3xl font-semibold text-center mb-10">Let AI Tell You How It Can Help Your Business</h1>
    <fieldset class="fieldset bg-base-200 border-base-300 rounded-box border p-4">
      <legend class="fieldset-legend">AI Solutions</legend>

      <label for="description" class="label">Business Description</label>
      <textarea name="description" class="textarea w-full" rows="4" placeholder="Describe your business in a few sentences"></textarea>

      <label for="challenges" class="label">Challenges</label>
      <textarea name="challenges" class="textarea w-full" rows="1" placeholder="Do you have an idea or pain point where AI might help?"></textarea>
    </fieldset>
  </div>
  <app-footer></app-footer>
</div>
