<footer class="footer sm:footer-horizontal footer-center bg-base-200 text-base-content px-4 py-10">
  <aside>
    <div class="text-xl">
      <a href="https://github.com/Bensirpent07" target="_blank" class="mx-2 hover:text-secondary transition-colors" aria-label="Link to Github profile">
        <fa-icon [icon]="faGithub"></fa-icon>
      </a>
      <a href="https://www.linkedin.com/in/ben-kuhman-7773b4141" target="_blank" class="mx-2 hover:text-secondary transition-colors" aria-label="Link to LinkedIn Profile">
        <fa-icon [icon]="faLinkedin"></fa-icon>
      </a>
    </div>
    <p class="text-sm">Built with <fa-icon [icon]="faHeart" class="text-red-500"></fa-icon> using Angular, TypeScript, and Tailwind CSS.</p>
    <p class="self-center">© 2025 Ben Kuhman. All rights reserved.</p>
  </aside>
</footer>
