<div class="hero bg-base-100 pt-24">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">About Me</h1>
      <p class="py-6">I am a full-stack software engineer with over 10 years of experience in web development, specializing in both marketing sites and complex business applications.</p>
    </div>
  </div>
</div>
<div class="container bg-base-100 max-w-6xl mt-12 mx-auto flex justify-around gap-12">
  <div class="card bg-base-200 w-96 shadow-lg">
    <figure>
      <img src="assets/images/ben-kuhman-portrait.jpg" alt="Ben Kuhman">
    </figure>
    <div class="card-body">
      <h3 class="card-title">Ben Kuhman</h3>
      <p>Software Engineer</p>
      <p>Fullstack software engineer of 10 years.</p>
      <div class="flex">
        <fa-icon [icon]="faLinkedin"></fa-icon>
        <fa-icon [icon]="faGithub"></fa-icon>
      </div>
    </div>
  </div>
  <div class="flex-1">
    <div class="prose prose-indigo max-w-none">
      <h2>Full-Stack Developer</h2>
      <h3 class="text-primary">Web Marketing</h3>
      <p>I have much experience in developing flashy web marketing sites for businesses including photography, landscaping, event management, and more. There is no project that intimidates me and I’m willing to explore and deploy many different styles of web practices to fit your needs.</p>
      <h3 class="text-primary">Business Tools</h3>
      <p>I also have much experience in web application development. I have built complex business tools that hinge on relational databases to calculate and accurately portray data that drives major business decisions and processes. I am confident in my work and that you will be provided with accurate and reliable data.</p>
    </div>
  </div>
</div>
